.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 2rem;
    background-color: rgb(21, 19, 53);
    color: #baabd5;
    font-size: 1.5rem;
    box-shadow: 0 0 3rem #381a74;
}

.n-button{
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: transparent;
    color: #baabd5;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.n-button:hover{
    background-color: #baabd5;
    color: rgb(21, 19, 53);
    box-shadow: 0 0 2rem #8352dd;
}

.title{
    display: inline-block;
    font-size: 3rem;
    background-color: rgb(21, 19, 53);
    color: #baabd5;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 3rem #381a74;
}

.rules{
    text-align: center;
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.5rem;
    background-color: rgb(21, 19, 53);
    color: #baabd5;
    padding: 0 2rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 3rem #381a74;
}

.rules ul{
    text-align: left;
}

.players{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.player-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem 4rem;
    font-size: 2rem;
    background-color: rgb(21, 19, 53);
    color: #baabd5;
    border-radius: 1rem;
    box-shadow: 0 0 3rem #381a74;
}

select {
    padding: 0.5rem 1rem;
    margin: 0 0 0 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: #baabd5;
    color: rgb(21, 19, 53);
    appearance: none;
}

select:hover {
    border-color: #8352dd;
    box-shadow: 0 0 2rem #8352dd;
}

.s-button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #baabd5;
    color: rgb(21, 19, 53);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.s-button:hover{
    box-shadow: 0 0 2rem #8352dd;
}

.button{
    margin-top: 3rem;
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: #151335;
    color: #baabd5;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 0 3rem #381a74;
    transition: all 0.3s ease-in-out;
}

.button:hover{
    box-shadow: 0 0 3rem #8c81a1;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem 0;
    background-color: rgb(21, 19, 53);
    color: #baabd5;
    font-size: 1.5rem;
    box-shadow: 0 -2px 3rem #381a74;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem;
    margin-top: 2rem;
    border-radius: 2rem;
    background-color: #151335;
    color: #baabd5;
}

.turn-indicator {
    font-size: 2rem;
    margin: 0 0 2rem;
    color: #baabd5;
}

.winner {
    padding: 0.5rem 1rem;
    color: #28a745;
    font-weight: bold;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.tile {
    width: 8rem;
    height: 8rem;
    text-align: center;
    align-content: center;
    background-color: #baabd5c6;
    border-radius: 1rem;
    font-size: 5rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.tile:hover {
    background-color: #baabd5;
    box-shadow: 0 0 1rem #8352dd;
}

.filled {
    background-color: #9879d2;
    box-shadow: 0 0 1rem #8d62dc;
    cursor: not-allowed;
}

.reset-button {
    margin-top: 2.5rem;
    padding: 0.5rem 1rem;
    background-color: #baabd5;
    color: rgb(21, 19, 53);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.reset-button:hover {
    box-shadow: 0 0 2rem #8352dd;
}

@media (max-width: 768px) {
    .container {
        padding-top: 4rem;
    }

    .navbar {
        font-size: 1rem;
        padding: 1rem;
    }

    .n-button {
        font-size: 1rem;
        padding: 0.3rem 0.8rem;
        margin: 0 0.5rem;
    }

    .title {
        font-size: 2rem;
        padding: 1rem;
    }

    .rules {
        font-size: 1.3rem;
        padding: 0 0.5rem 0.5rem;
        margin: 1.5rem 5rem;
    }

    .rules ul {
        font-size: 1.3rem;
    }

    .button {
        margin-top: 2rem;
        font-size: 1.5rem;
        padding: 1rem;
    }

    .players {
        flex-direction: column;
        gap: 1rem;
    }

    .player-box {
        padding: 2rem 3rem;
        font-size: 1.5rem;
    }

    .footer {
        display: none;
    }
    
    .board-container {
        padding: 2rem 2rem 1rem;
        margin-top: 5rem;
    }

    .turn-indicator {
        font-size: 2rem;
        margin: 0.5rem 0 1.5rem;
    }
    
    .game-board {
        gap: 0.5rem;
    }

    .tile {
        width: 8rem;
        height: 8rem;
        font-size: 4rem;
    }

    .reset-button {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .rules {
        font-size: 1rem;
        padding: 0 0.5rem 0.5rem;
        width: 22rem;
        margin: 1.5rem 0;
    }

    .rules ul {
        font-size: 1.1rem;
    }
    
    .board-container {
        padding: 1rem;
        margin-top: 5rem;
    }

    .tile {
        width: 7rem;
        height: 7rem;
        font-size: 4rem;
    }
    
}